<h1>id: <%= @task.id %>の詳細ページ</h1>
<p>投稿者: <%= @task.user.name %></p>
<p>タイトル: <%= @task.status %></p>
<p>タスク: <%= @task.content %></p>

<%= link_to "一覧に戻る", tasks_path %>
<% if current_user.id == @task.user_id %>
<%= link_to "このタスクを編集する", edit_task_path(@task) %>

<%= link_to "このタスクを削除する", @task, method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %>
<% end %>